.red {
     color: red;
}

body {
    font-family: 'Delius Swash Caps', 'Helvetica';

}

/*h1 {
    font-family: 'Helvetica';
    color: white;
    background-color: #333; 
}

p {
   font-size: 14pt;
   font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: black;
    color: white;
}

em {
  font-style: normal;
  text-decoration: underline;    
}*/